<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="cnstr" connectionString="Data Source=DESKTOP-N2ATN3A;Initial Catalog=DB_Toddlertoys;Integrated Security=True" />
    <add name="DB_KGConnectionString" connectionString="Data Source=DESKTOP-N2ATN3A;Initial Catalog=DB_Toddlertoys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>